body {
    /*background-image: url('Background.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;*/
    margin: 0;
}

body::after {
    content:"";
    position:fixed; /* stretch a fixed position to the whole screen */
    top:0;
    height:100vh; /* fix for mobile browser address bar appearing disappearing */
    left:0;
    right:0;
    z-index:-1; /* needed to keep in the background */
    background: url("Background.png") center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.backgroundImage {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 0;
}

.content {
    position: relative;
    z-index: 1;
}