body {
    background-image: url('Background.png');
    background-repeat: no-repeat;
    background-size: cover;
    
    margin: 0;
}

@supports ( -webkit-touch-callout : none) {
    body {
    background-attachment:scroll
    }
}
    
@supports not ( -webkit-touch-callout : none) {
    body {
    background-attachment: fixed;
    }
}

.backgroundImage {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 0;
}

.content {
    position: relative;
    z-index: 1;
}